body {
  margin: 0;
  font-family: 'Poppins', sans-serif;

  /* 🔥 Premium dark gradient */
  /* background: radial-gradient(circle at top, #1a1a1a, #0b0b0b 70%); */

  color: white;
}
.ant-input:focus,
.ant-input-focused {
  border-bottom: 1px solid #D4AF37 !important;
  box-shadow: none !important;
}
.ant-radio-wrapper {
  color: #ccc !important;
  font-size: 15px;
}

.ant-radio-checked .ant-radio-inner {
  border-color: #D4AF37 !important;
  background-color: #D4AF37 !important;
}

.ant-radio-inner::after {
  background-color: #000 !important;
}
a {
  text-decoration: none;
  color: inherit;
}